<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.description %></td>
    <td><%= story.status %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<script type="text/x-handlebars">

<div class="accordion">
	{{#each Stories.storiesController}}
  {{#view Stories.StoryView contentBinding="this"}}
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{unbound id}}" href="#collapse{{unbound id}}">
        <div style="display: inline-block;">
          {{title}}
        </div>
      </div>
    </div>
    <div id="collapse{{unbound id}}" class="accordion-body collapse">
      <div class="accordion-inner">
          <a href="#" {{action "editStory" on="click"}}>Edit</a>
          <a href="#" title="remove" {{action "removeStory" on="click"}}>X</a>
          {{description}}
      </div>
    </div>
  </div>
  {{/view}}
	{{/each}}
</div>

</script>


<%= link_to 'New Story', new_story_path %>