<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.description %></td>
    <td><%= story.status %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<script type="text/x-handlebars">
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	{{#each Stories.storiesController}}
	<tr>
	  <td>{{title}}</td>
	  <td>{{description}}</td>
	  <td>{{status}}</td>
	  {{#with this as story}}
	  	<td><a href="#" title="view again" {{action "show" target="story"}}>Show</a></td>
	  {{/with}}
	  <td><a href="/stories/{{unbound id}}">Show</a></td>
    <td><a href="/stories/{{unbound id}}/edit">Edit</a></td>
    <td><a href="/stories/{{unbound id}}" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
	</tr>
	{{/each}}
</table>
</script>

<%= link_to 'New Story', new_story_path %>